---
import { Code } from "astro:components";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<h1>Bloggy blog</h1>
        <h2>A beautiful blog site for my very secret diary for everyone to read, because i'm quirky like that:))</h2>

        <p>Dear dear diary,</p>
        <p> Yesterday I dreamed about sitting on a flying elephant and drinking a cup of tea made from diluted wine. It was really interesting.</p>
        <p>So that's that ...</p>
	</body>
</html>
