---
import { bigint } from "astro/zod";
import { Code } from "astro:components";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<h1>Bloggy blog</h1>
        <h2>A beautiful blog site for my very secret diary for everyone to read, because i'm quirky like that:))</h2>

        <p>Enjoy my extremely nice blog. And please don't read it because it's secret. Or maybe just because my english is bad and I should practice more and yeah.</p>
        <p>It's definitely harder than you think, to just write random text to fill up this page a bit. This is actually a really good test for not only my english, but also for my creativity.</p>
        <p>I'm just fucking a round a bit, DO NOT take this seriously?!</p>
		<p>Why oh Why is it so hard to make jokes in english, everything of the above sounds so dry. Oh well... overthinking is ook een vak</p>
		<ul>
			<li><a href="/posts/post-1/">My first ever post...partparty</a></li>
			<li><a href="/posts/post-2/">Bedtime story</a></li>
			<li><a href="/posts/post-3/">The work flow is flowing, third post incoming</a></li>
		</ul>
	</body>
</html>
