---
import { Code } from "astro:components";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
		<h1>Bloggy blog</h1>
        <h2>A beautiful blog site for my very secret diary for everyone to read, because i'm quirky like that:))</h2>

        <p>I actually don't have a diary but just needed some text for this page. Otherwise, if I don't have different text on every page I'll a 100% forget and get confused about what I'm doing.</p>
        <p>So that's that ...</p>
	</body>
</html>
