---
const pageTitle = "My first site ever :)";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/about/">About</a>
		<a href="/blog/">Blog</a>
		<h1>{pageTitle}</h1>
		
		<h2>This is gonna be so coollll</h2>
		<p>This is my menu site, and i'm just gonna try random stuff here and there</p>
		<p>Just wait and see... click on the blog button for some fun</p>
	</body>
</html>
